.Weather {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11rem;
  margin: 0 .5rem 2.3rem .5rem;
}

.Weather .image-container {
  display: inline-block;
  height: 5px;
}

.Weather-location {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Weather-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}
